{% {% schema %}
    {
        "name" : "タグリスト2",
        "setting" : []
    }
{% endschema %}%}}


<div class="ProductPage-label">
    {% for tag in product.tags %}
      {% if product.tags contains "label__" %}
        <div class="ProductPage-labelItem">{{ tag | remove: "label__" }}</div>
      {% endif %}
    {% endfor %}
  </div>